body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: arial;
}

img {
    margin: 0 auto;
    margin: 0 auto;
    border-color: white;
    border-style: dotted;
}

p {
    text-align: left;
}
ul {
    list-style: none;
}